In [2]:
# Code by Mariana Castilho
# 03/03/2018
# Import libraries
from bs4 import BeautifulSoup as bs
import requests
import re
from pprint import pprint
import xml.etree.ElementTree as et
import pandas as pd
import numpy as np

In [3]:
# Read all the urls generated via sitemap
claro = pd.read_excel('claro_urls.xlsx')

In [4]:
claro.head()

                                                urls
0       https://www.claro.com.br/telefone-fixo/rural
1  https://www.claro.com.br/internet/rede-net-cla...
2  https://www.claro.com.br/atendimento/fale-com-...
3  https://www.claro.com.br/atendimento/renegocie...
4  https://www.claro.com.br/atendimento/solucoes-...

In [5]:
claro['urls'] = claro['urls'].astype(str)
claro.head()

                                                urls
0       https://www.claro.com.br/telefone-fixo/rural
1  https://www.claro.com.br/internet/rede-net-cla...
2  https://www.claro.com.br/atendimento/fale-com-...
3  https://www.claro.com.br/atendimento/renegocie...
4  https://www.claro.com.br/atendimento/solucoes-...

In [21]:
claro.iloc[0]

urls    https://www.claro.com.br/telefone-fixo/rural
Name: 0, dtype: object

In [18]:
def crawl(url):
    return requests.get(url)

In [22]:
# Download page
page = crawl(claro.iloc[0,0])

In [61]:
# Check if status is 200, which means the request was successful
print page.status_code

502

In [63]:
# Creating necessary objects for while loop
i = 0
d = []
gtm_tag = 'gtm.js'

In [64]:
# Creating an emty list
df = []

In [65]:
while i < len(claro):
    try:
        d = crawl(claro.iloc[i,0])
        soup = bs(d.content, 'html.parser')
        script = soup.find_all('script')
        script_string = str(script)
        if script_string.index(gtm_tag) <> '[]':
            print 'Has GTM' 
            df.append(1)
    except ValueError:
        print 'Does not have GTM' 
        df.append(0)
    i = i + 1

Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Does not have GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM
Has GTM

In [66]:
print df

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [67]:
df_done = pd.DataFrame(df)
df_done.columns = ['Check']
print df_done

    Check
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
..    ...
53      1
54      1
55      1
56      1
57      1
58      1
59      1
60      1
61      1
62      1
63      1
64      1
65      1
66      1
67      1
68      1
69      1
70      1
71      1
72      1
73      1
74      1
75      1
76      1
77      1
78      1
79      1
80      1
81      1
82      1

[83 rows x 1 columns]